.table{
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
}

.table thead{
    background-color: #ccc;
    color: #222;

}
.table th,table td{
    padding: 0.8rem;
}